@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Cars.CarDates.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Ändra</a> |
    <a asp-page="./Index">Tillbaka</a>
</div>
