@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera order</h1>


<div class="orderContainer">
    
    <hr />
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.StartDate)</th>
            <td>@Html.DisplayFor(model => model.Order.StartDate)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.EndDate)</th>
            <td>@Html.DisplayFor(model => model.Order.EndDate)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Order.User)</th>
            <td>@Html.DisplayFor(model => model.Order.User.Email)</td>
        </tr>
    </table>

    <form method="post">
        <input type="hidden" asp-for="Order.OrderId" />
        <div class="buttonContainer">
            <input type="submit" value="Radera" class="btn btn-danger" />
            <a asp-page="./Index" class="btn btn-secondary">Tillbaka</a>
        </div>
    </form>
</div>
