@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Order</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            Startdatum
        </dt>
        <dd class="col-sm-10">
            @Model.Order.StartDate.ToString("yyyy-MM-dd")
        </dd>

        <dt class="col-sm-2">
            Slutdatum
        </dt>
        <dd class="col-sm-10">
            @Model.Order.EndDate.ToString("yyyy-MM-dd")
        </dd>

        <dt class="col-sm-2">
            Tillverkare
        </dt>
        <dd class="col-sm-10">
            @Model.Order.Car.Brand
        </dd>

        <dt class="col-sm-2">
            Epostadress
        </dt>
        <dd class="col-sm-10">
            @Model.Order.User.Email
        </dd>


    </dl>
</div>

<p>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderId">Ändra</a> |
    <a asp-page="./Index">Tillbaka</a>
</p>