@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ordrar</h1>
<link rel="stylesheet" href="~/css/Order.css" />
<hr />

@if (Model.ActiveOrders != null && Model.ActiveOrders.Any())
{
    <h2>Aktiva ordrar</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Epostadress</th>
                <th>Tillverkare</th>
                <th>Modell</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.ActiveOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.User.Email</td>
                    <td>@order.Car.Brand</td>
                    <td>@order.Car.Model</td>
                    <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                    <td>
                        <a asp-page="/Admin/Orders/Delete" asp-route-id="@order.OrderId" asp-route-carId="@order.Car.CarId">Radera</a> |
                        <a asp-page="/Admin/Orders/Details" asp-route-id="@order.OrderId" asp-route-carId="@order.Car.CarId">Detaljvy</a> |
                        <a asp-page="/Admin/Orders/Edit" asp-route-id="@order.OrderId" asp-route-carId="@order.Car.CarId">Ändra</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No active orders found.</p>
}

@if (Model.InactiveOrders != null && Model.InactiveOrders.Any())
{
    <h2>Inaktiva ordrar</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Epostadress</th>
                <th>Tillverkare</th>
                <th>Modell</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.InactiveOrders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>@order.User.Email</td>
                    <td>@order.Car.Brand</td>
                    <td>@order.Car.Model</td>
                    <td>@order.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@order.EndDate.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No inactive orders found.</p>
}