@page
@model FribergCarRentals_Foxtrot.Pages.Customer.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Användare</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Ändra</a> |
    <a asp-page="/Index">Tillbaka</a>
</div>
