@page
@model FribergCarRentals_Foxtrot.Pages.Customer.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ordrar</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Car.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Car.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
               
                <a asp-page="./Delete" asp-route-id="@item.OrderId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
