@page
@model FribergCarRentals_Foxtrot.Pages.Admin.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Kategorier</h1>

<p>
    <a asp-page="Create">Lägg till ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryId">Ändra</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryId">Detaljvy</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
